body {
    font-family: "Lucida Grande", sans-serif;
    background-color: lightcyan;
}

header {
    background-image: url(./images/banner.jpeg.webp);
    background-size: cover;
    height: 20em;
}
nav {
    display: inline-flex;
}

nav ul li {
    display: inline-flex;
    background-color: darkcyan;
    padding: 1em;
    opacity: 0.8;
 
}
nav ul li:hover {
    background-color: cadetblue;
}

h1 {
    display: inline-block;
    color: rgb(166, 252, 252);
    background-color: darkcyan;
    padding: 0.5em;
    margin-left: 1em;
    opacity: 0.85;
}

header a {
    color: rgb(166, 252, 252);
    text-decoration: none;
    }
main a {
    color: rgb(166, 252, 252);
    text-decoration: none;
}

h2, h5 {
    background-color: darkcyan;
    padding: 0.8em;
    color: rgb(166, 252, 252);
    opacity: 0.85;
}

h3 {
    background-color: cadetblue;
    padding: 0.6em
}

h5 {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    background-color: lightgray;
    border-collapse: collapse;
}

td, th, table {
    border: 1px solid cadetblue;
}

pre {
    background-color:rgb(211, 238, 238);
    padding: 1em;
    line-height: 1.5em;
}

footer h6 {
    text-align: right;
    background-color: darkcyan;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    opacity: 0.85;
}